/*CSS Desarrollado por Andrés Felipe De Orcajo Vélez*/


/*Importación de fuentes*/

@font-face {
    font-family: Roboto-Thin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: RobotoCondensed-Light;
    src: url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: Infinity-Icons;
    src: url('../fonts/Infinity-Icons-HU.otf');
}


/*Cursores personalizados y personalización del body*/

a {
    cursor: url(../images/cursor.cur), pointer;
    cursor: url(../images/cursor.cur), hand;
}

body {
    background-color: #000;
    font-family: Roboto-Thin, sans-serif;
    font-size: 35px;
    cursor: url(../images/spo714.cur), pointer;
    cursor: url(../images/spo714.cur), hand;
}


/*Configuración para imagenes*/

.imagen {
    background-image: url(../images/UM_i.png);
    background-position: center top;
    background-size: cover;
}

.logo {
    max-width: 50%;
}


/*Ajustes al menú y espacio del contenido*/

.menu {
    text-align: center;
    font-size: 30px;
}

.principal {
    background-color: #F2F2F2;
    min-height: 50vh;
}


/*Paleta de colores*/

.naranja {
    color: #F29B30;
}

.oscuro {
    color: #081826;
}

.azul {
    color: #1D4259;
}

.claro {
    color: #F2F2F2;
}

.verde {
    color: #7AC943;
}

.rojo {
    color: #FF1D25;
}

.cielo {
    color: #3FA9F5;
}

.carrot {
    color: #FF931E;
}

.blanco {
    color: #FFF;
}


/*Botón activo del menú*/

.activo {
    background-color: #FFF0FF;
    background-size: cover;
    padding: 0;
}

.container {
    height: 100%;
}

.principal > * {
    padding: 15px;
}


/*Ajustes para pantallas pequeñas*/

@media screen and (max-width: 480px) {
    body {
        font-size: 2.5rem;
    }
    .widget > ul > li > a > span {
        display: none;
    }
}


/*Asignación de fuentes y estilos del menú*/

nav,
nav > ul > li > a {
    font-family: RobotoCondensed-Light, sans-serif;
    background-color: white;
    background-color: transparent;
    font-size: 150%;
    border-bottom: 1px solid;
}


/*Iconos de planetas y barra lateral*/

.iconos {
    font-family: Infinity-Icons;
    color: white;
    font-size: 10rem;
}

.widget > ul > li > a > span {
    font-size: 7vh;
    margin: 0;
    padding: 0;
}

.widget > ul {
    margin: 0;
    margin-left: -3rem;
    letter-spacing: 0;
}

ul {
    color: white;
}

.llenar {
    width: 100%;
}

.item > img {
    height: 100%;
}

.centrar {
    text-align: center;
    vertical-align: middle;
    line-height: 60vh;
}

.more {
    float: right;
}


/*Imágenes de planetas*/

.planeta {
    float: right;
    width: 40%;
}


/*Fondo del carrusel*/

.fondo {
    position: relative;
    display: block;
    margin: 0 auto;
}


/*Frente del carrusel*/

.frente {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    font-size: 200%;
    text-shadow: 1px 1px white;
}


/*Botones 'more' para los planetas*/

.bot,
.bot:hover {
    position: relative;
    color: #FF931E;
}

.bot:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.2s;
    -webkit-transition-property: top, left, right, bottom;
    -moz-transition-property: top, left, right, bottom;
    -ms-transition-property: top, left, right, bottom;
    -o-transition-property: top, left, right, bottom;
    transition-property: top, left, right, bottom;
}

.bot:hover:before,
.demo-1:focus:before {
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -ms-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
    border: #FF931E solid 3px;
    bottom: -7px;
    left: -7px;
    top: -7px;
    right: -7px;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

/*Créditos y mapa del sitio, animaciones y ajustes*/

#titles {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 50vh;
    font-size: 100%;
    font-weight: bold;
    margin: auto;
}

.contenido > *,
#titlecontent > a {
    color: white;
    list-style: none;
}

#titlecontent {
    position: relative;
    animation: scroll 10s linear 0s infinite;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -180%;
    }
}